
body {
	FONT-SIZE: 12px;
	COLOR: #333;
	FONT-FAMILY: Arial,"ו";
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	}
	
/*- Menu Tabs I--------------------------- */

    #tabsI {
      
      width:93%;
      height:32px;

      font-size:93%;
      line-height:normal;
       border-bottom:1px solid #DD740B;
      }
    #tabsI ul {
        margin:0;
        padding:10px 10px 0 50px;
        list-style:none;
      }
    #tabsI li {
      display:inline;
      margin:0;
      padding:0;
      }
    #tabsI b 
    {
      cursor:pointer;
      float:left;
      background:url("/images/tableftI.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 5px;
      text-decoration:none;
      }
    #tabsI b span {
      float:left;
      display:block;
      background:url("/images/tabrightI.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#FFF;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabsI b span {float:none;}
    /* End IE5-Mac hack */
    #tabsI b:hover span {
      color:#FFFFFF;
      }
    #tabsI b:hover {
      background-position:0% -42px;
      }
    #tabsI b:hover span {
      background-position:100% -42px;
      }

        #tabsI #current b {
                background-position:0% -42px;
        }
        #tabsI #current b span {
                background-position:100% -42px;
        }   
   
   
